:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --btn-bg-color: #f5f4fa;
  --socialIkon-color: #afb1b8;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}
a {
  text-decoration: none;
  display: block;
}
.container {
  width: 1200px;
  padding: 0 15px 0;
  margin: 0 auto;
}
img {
  display: block;
}
/* HEADER */

.header-container,
nav,
.site-nav,
.auth-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-nav li:not(:last-child),
.auth-nav li:not(:last-child) {
  margin-right: 50px;
}
nav .site-nav a,
nav .auth-nav a {
  padding: 32px 0;
  display: inline-block;
}

.logo {
  text-decoration: none;
  color: var(--title-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: inline-block;
  margin-right: 93px;
}
.logo-span {
  color: var(--accent-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
  position: relative;
}
.site-nav .link.current::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background: #2196f3;
  border-radius: 2px;
  bottom: 0;
}
.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}
.auth-nav .link svg {
  margin-right: 10px;
  fill: currentcolor;
}
.auth-nav li {
}

.auth-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary {
  background-color: var(--accent-text-color);
  color: var(--primary-bg-color);
}
.button.secondary {
  background-color: var(--btn-bg-color);
  color: var(--title-text-color);
}
/* MAIN */

.section-title {
  margin-bottom: 50px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.43;
  text-align: center;
  color: var(--title-text-color);
}
/* _____________________DATA MODAL */

.backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  background-color: var(--primary-bg-color);
}
.modal-close {
  position: absolute;
  float: right;
  right: 8px;
  top: 8px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* HERO */

.section-hero {
  /* rgba(47, 48, 58, 0.4); */
  /* background-color: var(--secondary-bg-color); */
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-bcg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
}
.container-hero {
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  display: block;
  margin: 0 auto 40px;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
}
.button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
}

/* FUTURES */
.section-features {
  padding: 90px 0;
}
.features-container {
}
.features {
  display: flex;
  justify-content: space-between;
}
.features li {
  width: 270px;
}
.features-icons {
  background: var(--btn-bg-color);
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.features-icons svg {
  width: 70px;
}
.features h3 {
  margin-bottom: 10px;
}
.features li:not(:last-child) {
  margin-right: 30px;
}
.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
/* WORKS */
.section-works {
  padding-bottom: 94px;
}
.work {
  display: flex;
  justify-content: space-between;
}
.work a {
  position: relative;
}

.img-content {
  position: absolute;
  bottom: 77px;
  width: 100%;
  bottom: 0;
  color: var(--primary-bg-color);
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
}
.img-title {
  color: var(--primary-bg-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* Members */
.section-members {
  background-color: var(--btn-bg-color);
  padding: 94px 0;
}

.member {
  display: flex;
  justify-content: space-between;
}
.member-card {
  width: 270px;
  background: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.member-card img {
  max-width: 100%;
}
.member-card .title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.member-card .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-text-color);
}
.soc-icons {
  margin-top: 16px;
  padding: 0 30px 30px 30px;
}
.icon-list {
  display: flex;
  justify-content: space-between;
}
.icon-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  fill: var(--socialIkon-color);
}

.icon-list a:hover,
.icon-list a:focus {
  background-color: var(--accent-text-color);
  fill: var(--btn-bg-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-card:focus {
}

/*_____________________partners */
.partners {
}
.partners-container {
  padding: 94px 0;
}
.patners-list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.patners-list a {
  width: 170px;
  height: 90px;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.patners-list a:hover,
.patners-list a:focus {
  border-color: var(--accent-text-color);
  fill: var(--accent-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* FOOTER */
footer {
  background-color: var(--secondary-bg-color);
  padding: 60px 0;
}
.footer-container {
  display: flex;
  flex-direction: row;
}
.footer-nav {
  margin-right: 70px;
}
footer .logo {
  color: var(--primary-bg-color);
  margin-bottom: 20px;
}
address,
footer .auth-nav li {
  margin-bottom: 9px;
}

address {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}
.footer-auth-nav .auth-nav {
  justify-content: start;
  display: inline;
}
.footer-auth-nav .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.footer-nav {
  display: flex;
  flex-direction: column;
}
/* _____________subscribe*/
.subscribe {
  width: 206px;
}
.subscribe h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  margin-bottom: 20px;
}
.subscribe .icon-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  fill: var(--btn-bg-color);
  background: rgba(255, 255, 255, 0.1);
}

.subscribe .icon-list a:hover,
.subscribe .icon-list a:focus {
  background-color: var(--accent-text-color);
  fill: var(--btn-bg-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* PORTFOLIO.HTML */
.header.portfolio {
  border-bottom: 1px solid #ececec;
}
/* MAIN */

.filter {
  padding: 100px 0 94px;
}
.container-filter {
}
.filter-btn,
.project-cards {
  display: flex;
  justify-content: center;
}
/*------------filter-btn  */
.filter .button:hover,
.filter .button:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-bg-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn {
  margin-bottom: 56px;
}
.filter-btn li {
  margin-left: 8px;
}
.filter-container .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--btn-bg-color);
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
}
/*-----------project-cards */
.project-cards a:focus,
.project-cards a:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-cards {
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.project-cards li {
  /* flex-basis: calc(100% / 3 - 30px); */
  width: 370px;
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.project-cards img {
  max-width: 100%;
}
.text-container {
  padding: 20px 24px;
}
.project-cards .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.project-cards .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
/* __________________overlay card */
.project-cards a:hover .image-container::before,
.project-cards a:hover .overlay-block {
  transform: translateY(0);
}
.image-container {
  position: relative;
  overflow: hidden;
}
.image-container::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-block {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}
