.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: inline-block;
  letter-spacing: 0.03em;
  margin-right: 93px;
  @media (max-width: 1024px) {
    font-size: 24px;
    line-height: 1.16;
    margin-right: 88px;
  }
}
.logo-span {
  color: var(--accent-text-color);
}
.nav__btn {
  border: none;
  background: transparent;
  &:focus {
    fill: var(--accent-text-color);
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  li {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  .link.current {
    color: var(--accent-text-color);
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 4px;
      position: absolute;
      background: #2196f3;
      border-radius: 2px;
      bottom: 0;
    }
  }
  .link {
    color: var(--title-text-color);
    text-decoration: none;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    @media (max-width: 1023px) {
    }
    &:hover {
      color: var(--accent-text-color);
      fill: var(--accent-text-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:focus {
      color: var(--accent-text-color);
      fill: var(--accent-text-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
.auth-nav {
  .link {
    display: flex;
    align-items: center;

    svg {
      margin-right: 10px;
      fill: currentcolor;
      @media (max-width: 1023px) {
        max-width: 14px;
        max-height: 14px;
        margin-right: 8px;
      }
    }

    color: var(--primary-text-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    @media (max-width: 1023px) {
      font-size: 12px;
    }

    &:hover {
      color: var(--accent-text-color);
      fill: var(--accent-text-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:focus {
      color: var(--accent-text-color);
      fill: var(--accent-text-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .header-container {
    height: 60px;
  }
  .nav__btn {
    display: flex;
  }
  .auth-nav,
  .site-nav {
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 1040px) {
  nav {
    .site-nav {
      a {
        padding: 32px 0;
        display: inline-block;
      }
    }
    .auth-nav {
      a {
        padding: 32px 0;
        display: inline-block;
      }
    }
  }
  .nav__btn {
    display: none;
  }
  .site-nav {
    display: flex;
  }

  .auth-nav {
    display: flex;
    flex-direction: column;
    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
@media (min-width: 1040px) {
  nav {
    .site-nav {
      a {
        padding: 32px 0;
        display: inline-block;
      }
    }
    .auth-nav {
      a {
        padding: 32px 0;
        display: inline-block;
      }
    }
  }
  .nav__btn {
    display: none;
  }
  .auth-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    li {
      display: flex;
      align-items: center;
      margin-bottom: 0px;
      &:not(:last-child) {
        margin-bottom: 0px;
        margin-right: 50px;
      }
      // a{
      //   display: flex;
      //   align-items: center;
      // }
    }
  }
}

// .header-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }
// nav {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   .site-nav {
//     a {
//       padding: 32px 0;
//       display: inline-block;
//     }
//   }
//   .auth-nav {
//     a {
//       padding: 32px 0;
//       display: inline-block;
//     }
//   }
// }
// .site-nav {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   li {
//     &:not(:last-child) {
//       margin-right: 50px;
//     }
//   }
//   .link.current {
//     color: var(--accent-text-color);
//     position: relative;
//     &::before {
//       content: "";
//       width: 100%;
//       height: 4px;
//       position: absolute;
//       background: #2196f3;
//       border-radius: 2px;
//       bottom: 0;
//     }
//   }
//   .link {
//     color: var(--title-text-color);
//     text-decoration: none;
//     letter-spacing: 0.02em;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.2;
//     &:hover {
//       color: var(--accent-text-color);
//       fill: var(--accent-text-color);
//       transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//     &:focus {
//       color: var(--accent-text-color);
//       fill: var(--accent-text-color);
//       transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//   }
// }
// .auth-nav {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   li {
//     &:not(:last-child) {
//       margin-right: 50px;
//     }
//   }
//   .link {
//     svg {
//       margin-right: 10px;
//       fill: currentcolor;
//     }
//     color: var(--primary-text-color);
//     text-decoration: none;
//     letter-spacing: 0.02em;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.17;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     &:hover {
//       color: var(--accent-text-color);
//       fill: var(--accent-text-color);
//       transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//     &:focus {
//       color: var(--accent-text-color);
//       fill: var(--accent-text-color);
//       transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//   }
// }
// .logo {
//   text-decoration: none;
//   color: var(--title-text-color);
//   font-family: Raleway;
//   font-style: normal;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.2;
//   display: inline-block;
//   margin-right: 93px;
// }
// .logo-span {
//   color: var(--accent-text-color);
// }
// .button.primary {
//   background-color: var(--accent-text-color);
//   color: var(--primary-bg-color);
// }
// .button.secondary {
//   background-color: var(--btn-bg-color);
//   color: var(--title-text-color);
// }
