body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}
a {
  text-decoration: none;
  display: block;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  @media screen and(min-width: 1140px) {
    width: 1200px;
  }
}
img {
  display: block;
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.43;
  text-align: center;
  color: var(--title-text-color);
  @media (min-width: 320px) and (max-width: 768px) {
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
  }
}
.header.portfolio {
  border-bottom: 1px solid #ececec;
}
.button.accent {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
}
.link.current {
  color: var(--accent-text-color);
}
